@import url('https://fonts.googleapis.com/css?family=Ubuntu');




.iframe_wrapper{
    background-color: aqua;
    margin-left: 258px;
    margin-top: 88px;
    width: 1000px;
    height: 490px;
    margin-bottom :8px;
}

.iframe_wrapper iframe{
    width: 100%;
    height: 100%;
    padding: 0%;
    border: 5px solid black;
}

.fixedleftbar ul li div {
    -webkit-padding-before: 0%;
            padding-block-start: 0%;
    background-color: aqua;
    color: black;
    
    padding: 5%;
    margin: 5%;
}

.fixedleftbar ul li div:hover {
   background-color: white;
   text-decoration: bold;
   color: black;
}

.fixedleftbar img{
    width: 70%;
    height: auto;
}

.fixedleftbar h1{
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}

.navbar img{
    height: 90%;
    padding: 0 1.5%; 
}

.navbar h1,p{
    vertical-align: center;
    margin: 1.5%;
}

.foot{
    margin-bottom: 0%;
}


@media only screen and (max-width: 400px) {
    .fixedleftbar{
      display: none;
    }
  }
