body{
    background-color: black;
}
.navbar{
  width: 100%;
  height: 80px;
}

.navbar img{
    height: 100%;
    width: auto;
    float: left;
}
.navbar h1{
    display: none;
}
.navbar p{
    float: right;
    padding-top: 20px;
}
.navbar button{
    width: 100%;
    height: 100%;
}
.fixedleftbar{
    display: none;
}